.taxonomy {
	
}

.taxonomy .taxonomy-view .action {
	
}

.taxonomy .taxonomy-view td {
	padding: 4px;
	font-size: 1.8rem;
	cursor: pointer;
}

.taxonomy .taxonomy-view .separator {
	padding: 0 20px;
}