.taxonomy {
	
}

.taxonomy .taxonomy-view .action {
	
}

.taxonomy .taxonomy-view td {
	padding: 2px;
	font-size: 1.8rem;
	cursor: pointer;
}

.taxonomy .taxonomy-view .separator {
	padding: 0 20px;
}

.taxonomy .editor, .taxonomy .meta-editor {
	margin-top: 20px;
}
