<body class="page no-select" xmlns:w="js-lib.com/wood">
	<header data-class="com.kidscademy.PageHeader">
		<img src="@image/action/previous-page" class="back action" />
		<nav class="top-menu">
			<a href="@link/collections">@string/workspace</a>
			<a href="@link/releases">@string/release</a>
			<a href="@link/search">@string/search</a>
			<a href="@link/account">@string/account</a>
			<a href="@link/apps">@string/apps</a>
			<a class="logout action">@string/logout</a>
		</nav>
		<img src="/media/user/iulian.png" class="developer" />
	</header>

	<div class="flex-content">
		<div class="sidebar" data-class="com.kidscademy.Sidebar">
			<div class="caption">
				<span class="title"></span><img class="collapse hidden" src="@image/action/collapse" />
			</div>
			<div class="object-view hidden">
				<div w:compo="compo/object-box"></div>
			</div>
			<div w:editable="sidemenu" class="sidemenu"></div>
		</div>
		<div class="body">
			<div class="scroll-y">
				<div w:editable="content" class="content"></div>
			</div>
		</div>
	</div>
</body>