.object-box {
	background: none;
	border-color: @color/border-none;
	min-height: @eval(ADD @dimen/icon-size 4px);	
}

.object-box.created {
	background: radial-gradient(circle at 30% 50%, @color/bg1-created, @color/bg2-created);
	border-color: @color/border-created;
}

.object-box.development {
	background: radial-gradient(circle at 30% 50%, @color/bg1-development, @color/bg2-development);
	border-color: @color/border-development;
}

.object-box.released {
	background: radial-gradient(circle at 30% 50%, @color/bg1-released, @color/bg2-released);
	border-color: @color/border-released;
}

.object-box.published {
	background: radial-gradient(circle at 30% 50%, @color/bg1-published, @color/bg2-published);
	border-color: @color/border-published;
}

.object-box .icon {
	float: left;
	width: @dimen/icon-size;
	height: @dimen/icon-size;
	padding: 1px;
	border: solid 1px @color/border-none;
	margin-right: 10px;
}

.object-box.created .icon {
	border-color: @color/border-created;
}

.object-box.development .icon {
	border-color: @color/border-development;
}

.object-box.released .icon {
	border-color: @color/border-released;
}

.object-box.published .icon {
	border-color: @color/border-published;
}

.object-box .display {
	padding-bottom: 4px;
	border-bottom: solid 1px @color/border-none;
	margin-top: 0;
	text-transform: uppercase;	
	font-size: 2.0rem;
	color: @color/text-none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.object-box.created .display {
	color: @color/text-created;
	border-color: @color/border-created;
}

.object-box.development .display {
	color: @color/text-development;
	border-color: @color/border-development;
}

.object-box.released .display {
	color: @color/text-released;
	border-color: @color/border-released;
}

.object-box.published .display {
	color: @color/text-published;
	border-color: @color/border-published;
}

.object-box .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: @color/text;
	margin-bottom: 4px;
}

.object-box .timestamp {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: @color/text;
}
