.description {
	
}

.description textarea {
	border-bottom-left-radius: 0;
}

.description:not (.hidden ) .list-view {
	margin-top: 20px;
}

.description .tabs {
	vertical-align: top;
}

.description .tab {
	display: inline-block;
	margin: 0;
	padding: 10px;
	background-color: #F0F0F0;
	color: #A0A0A0;
	border: solid 1px #BDBDBD;
	border-radius: 0 0 6px 6px;
	font-size: 1.8rem;
	cursor: pointer;
	user-select: none;
}

.description .tab {

}

.description .tab.active {
	background-color: #FFFFFF;
	color: @color/text;
}