.object-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.object-form .form {
	overflow-y: auto;
}

.object-form .form fieldset:last-child {
	margin-bottom: 40px;
}

.object-form .action {
	display: inline-block;
	width: @dimen/action-icon-size;
	height: @dimen/action-icon-size;
	vertical-align: middle;
	margin-right: @dimen/action-margin;
	border: solid 1px @color/border;
	background-color: white;
	opacity: 0.2;
	cursor: pointer;
}

.object-form .action.small {
	width: @dimen/action-small-icon-size;
	height: @dimen/action-small-icon-size;
}

.object-form.side-bar {
	position: relative;
}

.object-form.side-bar .header {
	xbackground-color: @color/teal-50;
	padding: 20px 10px;
	margin-bottom: 10px;
}

.object-form.side-bar .header img {
	float: left;
	width: @dimen/header-icon-size;
	margin-right: 10px;
	padding: 1px;
	border: solid 1px @color/border-light;
	xborder-radius: 32px;
}

.object-form.side-bar .side-name {
	margin: 0;
	border-bottom: solid 1px @color/border-light;
	xfont-size: 1.8rem;
	min-height: 1.8rem;
	color: black;
	text-transform: uppercase;
	white-space: nowrap;
}

.object-form.side-bar .timestamp {
	margin: 8px 0;
	xfont-size: 1.3rem;
	xcolor: @color/black;
}

.object-form.side-bar .published-object {
	display: block;
	padding: 0;
	margin: 40px 0 0 0;
	xfont-size: 1.8rem;
}

.object-form.side-bar .published-object span {
	color: black;
}

/* experimental section description */
.header p {
	display: none;
}

.side-bar .actions {
	position:absolute;
	width:100%;
	bottom: 2px;
}

.object-form .section-icon {
	position: relative;
	width: 0;
	height: 0;
	left: 80%;
	top: -@eval(add (mul @dimen/section-icon-size 0.5) @dimen/section-padding);
}

.object-form .section-icon.bottom {
	top: 10px;
	bottom: @eval(add (mul @dimen/section-icon-size 0.5) @dimen/section-padding);
}

.object-form .section-icon img {
	width: @dimen/section-icon-size;
	height: @dimen/section-icon-size;
	background-color: @color/teal-100;
	border-radius: @eval(mul @dimen/section-icon-size 0.5);
	box-shadow: 0 0 15px #408080;
	box-sizing: border-box;
	opacity: 0.8;
}

.object-form .section-icon.big img {
	width: @dimen/section-icon-big-size;
	height: @dimen/section-icon-big-size;
	border-radius: @eval(mul @dimen/section-icon-big-size 0.5);
}

.object-form .section-icon.padding {
	top: -70px;
}

.object-form .section-icon.padding img {
	padding: 16px;
}
