html {
	font-size: initial !important;
	letter-spacing: normal !important;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Montserrat", "Open Sans";
	font-weight: lighter;
	background-color: teal;
}

p {
	line-height: normal;	
}

.h-scroll {
	position: absolute;
	width: 100%;
	top: @dimen/action-size;
	bottom: 0;
	overflow-x: scroll;
	padding: @dimen/page-padding 0 @eval(sub @dimen/page-padding 17px);
}

.h-linear {
	width: auto;
	height: 100%;
	white-space: nowrap;
}

.section {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 100%;
	margin-left: @dimen/section-space;
	xborder: dashed 1px cyan;
	white-space: normal;
	overflow: hidden;
}
