.workspace {
	display: flex;
	flex-direction: column;
}

.workspace .content {
	height: 100%;
	overflow-y: auto;
	margin-bottom: 20px;
}

.workspace .list-view {
	flex-grow: 1;
	margin: 20px;
}
