.release {
	
}

.release.sidebar {
	
}

.release.sidebar .header {
	padding: 10px 10px;
}

.release.sidebar .menu {
	margin-top: 20px;
}

.release .icon {
	border-radius: @dimen/icon-radius;
}
