.release {
	display: flex;
	flex-direction: column;
}

.release .content {
	height: 100%;
	overflow-y: auto;
	margin-bottom: 20px;
}

.release .content .body {
	flex-grow: 1;
	margin: 20px;
}
