.facts {
	
}

.facts li {
	cursor: pointer;
}

.facts li h1 {
	margin-bottom: 0;
	font-size: 1.8rem;
}

.facts li p {
	margin-top: 0;
	font-size: 1.6rem;
	color: #006600;
}

.facts:not(.hidden) .list-view {
	margin-top: 20px;
}

.facts .editor {
	margin-top: 20px;
	border-top: solid 1px #E6E6E6;
	padding-top: 10px;
}

.facts .icons-list {
	margin-top: 20px;
	border-top: solid 1px #E6E6E6;
	padding-top: 10px;
}
