.facts {
	
}

.facts dt {
	cursor: pointer;
}

.facts:not(.hidden) .list-view {
	margin-top: 20px;
}

.facts .editor {
	margin-top: 20px;
	border-top: solid 1px #E6E6E6;
	padding-top: 10px;
}

.facts .icons-list {
	margin-top: 20px;
	border-top: solid 1px #E6E6E6;
	padding-top: 10px;
}
