.context-menu {
	
}

.context-menu .object {
	margin: 10px;
}

.context-menu .object::after {
	display: block;
	content: "";
	clear: both;
}

.context-menu .menu {
	margin-top: 20px;
	margin-bottom: 20px;	
}
