.context-menu {
	
}

.context-menu.no-object li {
	display: none;
}

.context-menu.no-object li.no-object {
	display: inherit;
}

.context-menu .object {
	
}

.context-menu .object::after {
	display: block;
	content: "";
	clear: both;
}

.context-menu .menu {
	margin-top: 20px;
	margin-bottom: 20px;	
}
