.graphic-assets {
}

.graphic-assets .view {
}

.graphic-assets .view .item {
	display: inline-block;
	margin-right: 40px;
}

.graphic-assets .view img {
	display: inline-block;
	height: 96px;
	cursor: pointer;
}

.graphic-assets .view img:not([src]) {
	min-width: 96px;
	cursor: pointer;
	border: solid 1px #76be76;
}

.graphic-assets .view img.invalid {
	border-color: @color/control-invalid-border;
}

.graphic-assets .view .item h4 {
	color: black;
}

.graphic-assets .view .item h3, .graphic-assets .view .item h4, .graphic-assets .view .item h5 {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: black;
}

.graphic-assets .meta {
	margin-top: 40px;
	border-top: solid 1px white;
	padding-top: 20px;
}

.graphic-assets .meta textarea {
	height: 200px;
	min-height: 200px;
}
