html {
	font-size: initial !important;
	letter-spacing: normal !important;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Montserrat", "Open Sans";
	font-weight: lighter;
}

.reader {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(74, 144, 226);
	overflow: hidden;
}

.reader .top-menu {
	height: @dimen/action-size;
	padding-right: 30px;
	border-bottom: solid 1px white;
}

.reader .top-menu .title {
	display: inline-block;
	vertical-align: top;
	height: @dimen/action-size;
	line-height: @dimen/action-size;
	font-size: 1.8rem;
	color: @color/text;
	text-transform: uppercase;
	margin-left: @dimen/paragraph-space;
}

.reader .h-scroll {
	position: absolute;
	width: 100%;
	top: @dimen/action-size;
	bottom: 0;
	overflow-x: scroll;
	padding: @dimen/page-padding 0 @eval(sub @dimen/page-padding 17px);
}

.reader.hidden .h-scroll {
	overflow-x: hide;
}

.reader .h-linear {
	width: auto;
	height: 100%;
	white-space: nowrap;
}

.reader .scroll-mask {
	position: absolute;
	width: 100%;
	height: @dimen/page-padding;
	bottom: 0;	
	background-color: rgb(74, 144, 226);
	z-index: 100;
}

.reader.hidden .scroll-mask {
	display: none;
}
	
.reader .section {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 100%;
	margin-left: @dimen/section-space;
	xborder: dashed 1px cyan;
	white-space: normal;
	overflow: hidden;
}

.reader .section.hidden {
	display: none;
}

.reader .section:first-child {
	margin-left: @dimen/page-padding;
}

.reader .section:last-child {
	padding-right: @dimen/page-padding;
}

.reader.hidden {
	display: none;	
}

.reader .action {
	width: @dimen/action-size;
	height: @dimen/action-size;
	margin: 0 0 0 @dimen/action-margin;
	cursor: pointer;
}

.reader p {
	line-height: normal;
	color: @color/text;	
}

.reader .circle {
	position: absolute;
	border-radius: 50%;
}

.reader .image.fit-center {
	/* max-width and max-height are used to confine image inside its container */
	max-width: 100%;
	max-height: 100%;
	/* absolute position to all sides and automatic margin to center image both horizontally and vertically */
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/** the same as fit-center but only on horizontally; vertically is aligned to top */
.reader .image.fit-top-center {
	/* max-width and max-height are used to confine image inside its container */
	max-width: 100%;
	max-height: 100%;
	/* absolute position to all sides and automatic margin to center image both horizontally and vertically */
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
}

.reader .image.center-crop {
	width: 100%;
	height: auto;	
}

.reader .accent {
	color: yellow;
}

.reader .upper-case {
	text-transform: uppercase;
}

.reader .rule {
	margin: 0;
	padding: 0;
	border: none;
	background-color: @color/rule;	
}

.reader .rule.h {
	width: 100%;
	height: 1px;
}

.reader .rule.v {
	width: 1px;
	height: 100%;
}

.list .item {
	display: block;
	padding: 4px;
	margin-bottom: @dimen/divider-size;
	background-color: @color/black-t20;
}

.list .item::after {
	display: block;
	content: "";
	clear: both;
}

.list .item .icon {
	float: left;
	width: @dimen/icon-size;
	height: @dimen/icon-size;
	margin: 0 20px 0 0;
	border-radius: 0;
}

.list .item .display {
	margin: 10px 0 0 0;
	padding: 0;
	font-weight: lighter;
	font-size: 1.8rem;
	color: @color/text;
	
}

.list .item .description {
	width: 400px;
	margin: 10px 0 0 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.4rem;
	color: @color/mute;
}
