.intro {
	min-width: 500px;
}

.intro .bg {
	position: absolute;
	width: 460px;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 0 0 100px 0;
	left: 40px;
	z-index: -1;
}

.intro .circle {
	z-index: -1;
}

.intro .circle.large {
	width: 380px;
	height: 380px;
	top: 38px;
	background-color: rgba(255,255,255,0.25);
}

.intro .circle.small {
	width: 96px;
	height: 96px;
	right: 20px;
	bottom: 20%;	
	background-color: rgba(2,25,111,0.3);	
}

.intro .image {
	max-height: 36vh;
	margin-left: 2vh;
	margin-top: 8vh;	
}

.intro .text-container {
	position: absolute;
	width: 500px;
	top: 50%;
	bottom: 0;
	margin: auto;
}

.intro .text {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	top: 30%;
	margin: 0;
	padding-right: 30px;
	font-size: 1.3rem;
	color: @color/text-inverse;
}
