.intro {
	width: 560px;
}

.intro .bg {
	position: absolute;
	width: 84%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 0 0 100px 0;
	right: 0;
}

.intro .circle.large {
	width: 380px;
	height: 380px;
	top: 38px;
	background-color: rgba(255,255,255,0.4);	
}

.intro .circle.small {
	width: 96px;
	height: 96px;
	right: 20px;
	bottom: 25%;	
	background-color: rgba(2,25,111,0.3);	
}

.intro .container {
	width: 100%;
	height: 100%;
	white-space: normal;
}

.intro .image-container {
	display: block;
	position: relative;
	height: 50%;
	margin-right: 10%;
}

.intro .circle-bg {
	height: 100%;
	margin: 10% 0 0 5%;	
}

.intro .image {
	top: 10%;	
}

.intro .text-container {
	position: absolute;
	width: 100%;
	top: 33%;
	bottom: 0;
	margin: auto;
}

.intro .text {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	top: 50%;
	margin: 0;
	padding-right: 30px;
	font-size: 1.6rem;
	color: @color/text-inverse;
}