.infobox {
}

.infobox .circle {
	width: 264px;
	height: 264px;
	left: 10px;
	bottom: 20%;
	background-color: #4080CC;
	z-index: -10;
}

.infobox .container {
	width: 100%;
	height: 100%;
	padding: @dimen/infobox-padding;
	padding-top: 0;
}

.infobox h2 {
	margin: @dimen/paragraph-space  0 10px 0;
	font-weight: lighter;
	font-size: 1.8rem;
	color: black;
}

.infobox .last-updated h2 {
	margin-top: 0;
}

.infobox .taxonomy h2 {
	text-transform: capitalize;
}

.infobox .body {
	margin: 0 0 0 @dimen/paragraph-indent;
}

.infobox p, .infobox li {
	white-space: nowrap;
	font-size: 1.4rem;
	color: @color/accent;
}

.infobox li {
	text-transform: uppercase;	
}

.infobox .last-updated p {
	color: @color/text;
}

.infobox .name {
	color: @color/text;
	text-transform: uppercase;	
	font-size: 1.4rem;
}

.infobox .separator {
	color: @color/text;
	font-size: 1.4rem;
	padding: 0 10px;
}

.infobox .value {
	color: @color/text;	
	text-transform: lowercase;	
	font-size: 1.4rem;
}
