.features {
	width: @dimen/column-width;
}

.features .text {
	position: relative;
	flex-grow: 1;	
}

.reader .features p {
	box-sizing: border-box;
	line-height: 36px;
	margin: 0;
	margin-bottom: 36px;
	font-size: 22px;
	color: yellow;
}

.reader .features p:last-child {
	margin-bottom: 0;
}

.features table {
	width: 100%;
}

.features tr {
	border-bottom: solid 1px @color/rule;
}

.features .name, .features .value {
	padding: 20px @dimen/paragraph-indent;
	padding: 20px 30px;
}

.features tr:last-child {
	border-bottom: 0;
}

.features .name {
	color: @color/text-mute;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.features .value {
	width: 100%;
	border-left: solid 4px @color/rule;
	color: white;
}

.features tr:nth-of-type(1) .value {
	border-color: @color/palette-1;
}

.features tr:nth-of-type(2) .value {
	border-color: @color/palette-2;
}

.features tr:nth-of-type(3) .value {
	border-color: @color/palette-3;
}

.features tr:nth-of-type(4) .value {
	border-color: @color/palette-4;
}

.features tr:nth-of-type(5) .value {
	border-color: @color/palette-5;
}

.features tr:nth-of-type(6) .value {
	border-color: @color/palette-6;
}

.features tr:nth-of-type(7) .value {
	border-color: @color/palette-7;
}

.features tr:nth-of-type(8) .value {
	border-color: @color/palette-8;
}

.features tr:nth-of-type(9) .value {
	border-color: @color/palette-9;
}

.features tr:nth-of-type(10) .value {
	border-color: @color/palette-10;
}

.features .image-frame {
	flex-grow: 1;
	margin-top: 40px;	
}

.features .image {
	max-width: 100%;	
}

.features .caption {
	box-sizing: border-box;
	width: 100%;
	margin: @dimen/reader-image-caption-margin;
	padding: @dimen/reader-image-caption-padding;
	background: @color/reader-image-caption-bg;
}

.features .caption p {
	margin-top: 1.5em;
	line-height: @dimen/reader-image-caption-line-height;
	font-size: @dimen/reader-image-caption-font-size;
	color: @color/reader-image-caption-text;
}

.features .caption p:first-child {
	margin-top: 0;
}

.features .column-text {
	margin-top: 100px;	
}
