<body class="page no-select" xmlns:w="js-lib.com/wood">
	<header data-class="com.kidscademy.PageHeader">
		<img src="@image/action/previous-page" class="back action" />
		<nav class="top-menu">
			<a href="@link/library">@string/library</a>
			<a href="@link/collection">@string/collection</a>
			<a href="@link/search">@string/search</a>
			<a href="@link/media">@string/media</a>
			<a href="@link/account">@string/account</a>
			<a class="logout-action">@string/logout</a>
		</nav>
		<img src="/media/user/iulian/icon.png" class="developer" />
	</header>

	<section class="flex-content">
		<div w:editable="side-bar" class="side-bar"></div>
		<div w:editable="body" class="body"></div>
	</section>
</body>