.collection {
	display: flex;
	flex-direction: column;
}

.collection .content {
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.collection .info {
	margin: 10px 0 0 30px;
	font-size: 1.8rem;	
}

.collection.side-bar {
}

.collection.side-bar .header {
	xbackground-color: @color/teal-50;
	padding: 20px 10px;
	margin-bottom: 10px;
}

.collection.side-bar .header img {
	float: left;
	width: @dimen/header-icon-size;
	margin-right: 10px;
	padding: 1px;
	border: solid 1px @color/border-light;
	xborder-radius: 32px;
}

.collection.side-bar .side-name {
	margin: 0;
	border-bottom: solid 1px @color/border-light;
	font-size: 2.0rem;
	color: black;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.collection.side-bar .timestamp {
	margin: 8px 0;
	font-size: 1.3rem;
	xcolor: @color/black;
}

.collection.side-menu .actions {
	padding-top: 20px;
}

.collection.side-menu .actions li {
	height: 48px;
	line-height: 48px;
	padding: 0 40px 0 20px;
	margin-left: 1px;
	margin-top: 1px;
	border-left: solid 4px;
	cursor: pointer;
	color: black;
	text-transform: uppercase;
}

.collection.side-menu .actions li .state {
	display: inline-block;
	vertical-align: middle;
	float: right;
	width: 20px;
	height: 20px;
	margin-top: 12px;
	margin-right: 10px;
	border-radius: 10px;
}

.collection.side-menu .actions li.invalid .state {
	background-color: @color/danger;
}

.collection.side-menu .actions li:hover {
	color: black;
}

.collection.side-menu .actions li:nth-child(1) {
	border-left-color: @color/red-300;
	background-color: @color/red-50;
}

.collection.side-menu .actions li:nth-child(2) {
	border-left-color: @color/pink-300;
	background-color: @color/pink-50;
}

.collection.side-menu .actions li:nth-child(3) {
	border-left-color: @color/purple-300;
	background-color: @color/purple-50;
}

.collection.side-menu .actions li:nth-child(4) {
	border-left-color: @color/deep-purple-300;
	background-color: @color/deep-purple-50;
}

.collection.side-menu .actions li:nth-child(5) {
	border-left-color: @color/indigo-300;
	background-color: @color/indigo-50;
}

.collection.side-menu .actions li:nth-child(6) {
	border-left-color: @color/blue-300;
	background-color: @color/blue-50;
}

.collection.side-menu .actions li:nth-child(7) {
	border-left-color: @color/light-blue-300;
	background-color: @color/light-blue-50;
}

.collection.side-menu .actions li:nth-child(8) {
	border-left-color: @color/cyan-300;
	background-color: @color/cyan-50;
}

.collection .list-view li img {
	border-color: #f74498;
}

.collection .list-view li.published img {
	border-color: #1985e2;
}
