.features .item {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: @dimen/divider-size;
}

.features .item .name {
	width: 180px;
	background-color: rgba(21, 101, 192, 0.25);
	padding: 20px;
	color: @color/text;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.features .item .value {
	flex-grow: 1;
	background-color: rgba(198, 40, 40, 0.25);
	padding: 20px;
	color: @color/text;
}
