.contextual {
	width: @dimen/contextual-width;
}

.contextual .image {
	max-width: 100%;
	max-height: 100%;
}

.contextual .caption {
	box-sizing: border-box;
	width: 100%;
	margin: @dimen/reader-image-caption-margin;
	background: @color/reader-image-caption-bg;
	padding: @dimen/reader-image-caption-padding;
} 

.contextual .caption p {
	margin: 20px 0 0;
	line-height: @dimen/reader-image-caption-line-height;
	font-size: @dimen/reader-image-caption-font-size;
	color: @color/reader-image-caption-text;
}

.contextual .caption p:first-child {
	margin-top: 0;
}

.contextual .sample-title {
	position: relative;
	width: 100%;
	height: @dimen/sample-title-height;
	line-height: @dimen/sample-title-height;
	top: @eval(mul @dimen/sample-title-height -0.5);	
	padding: 0 10px;
	background: @color/black-t50;	
	white-space: nowrap;
	box-sizing: border-box;
	margin: 0;
}

.contextual .sample-title .text {
	color: @color/text-accent;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contextual .sample-title .play {
	position: absolute;
	width: @dimen/sample-title-height;
	height: @dimen/sample-title-height;
	right: 20px;
}

.contextual .frame {
	flex-grow: 1;
	position: relative;	
	max-height: 500px;
}

.contextual .waveform {
	width: 100%;
} 

.contextual .graphics {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 25%;
} 
	
.contextual .rule {
	position: absolute;
	top: 50%;
}

.contextual .graphic {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	border-radius: 50%;
}

.contextual .graphic.i1 {
	height: 100%;
}

.contextual .graphic.i2 {
	height: 80%;
}

.contextual .graphic.i3 {
	height: 60%;
}

.contextual .graphic.i4 {
	height: 40%;
}

.contextual .graphic.i5 {
	height: 20%;
}

/* --------------------------------------------------------------------------------------------- */
/* MODERN THEME */

.reader.modern .contextual .graphic {
	border-radius: 0;
}
