.featured {
	width: 600px;
}

.featured .image-container {
	display: block;
	position: relative;
	height: 60%;
	margin-top: 10%;
	margin-right: 60px;
}

.featured .caption-container {
	position: absolute;
	width: 70%;
	right: 0;
	bottom: 20%;
	background: rgba(0, 0, 0, 0.3);
	padding: @dimen/infobox-padding;
}

.featured .caption-container * {
	margin: 0;
	margin-top: 1.5em;
	line-height: 1.5em;
	font-size: 1.1rem;
	color: yellow;
}

.featured .caption-container *:first-child {
	margin-top: 0;
}

.featured .caption-container ul {
	list-style-type: none;
	list-style-position: inside;
	margin-top: 0;
}

.featured .caption-container li {
	list-style-type: none;
	margin-top: 0;
}

.featured .caption-container li::before {
	content: "-";
	padding-right: 1em;
}

/* --------------------------------------------------------------------------------------------- */
/* MODERN THEME */

.reader.modern .featured {
	width: 660px;
}
