.featured {
	width: 600px;
}

.featured .image-container {
	display: block;
	position: relative;
	height: 60%;
	margin-top: 10%;
	margin-right: 60px;
}

.featured .caption-container {
	position: absolute;
	box-sizing: border-box;
	width: 80%;
	right: 0;
	bottom: 15%;
	background: @color/reader-image-caption-bg;
	padding: @dimen/reader-image-caption-padding;
}

.featured .caption-container * {
	margin: 0;
	margin-top: 1.5em;
	line-height: @dimen/reader-image-caption-line-height;
	font-size: @dimen/reader-image-caption-font-size;
	color: @color/reader-image-caption-text;
}

.featured .caption-container *:first-child {
	margin-top: 0;
}

.featured .caption-container ul {
	list-style-type: none;
	list-style-position: inside;
	margin-top: 0;
}

.featured .caption-container li {
	list-style-type: none;
	margin-top: 0;
}

.featured .caption-container li::before {
	content: "-";
	padding-right: 1em;
}

/* --------------------------------------------------------------------------------------------- */
/* MODERN THEME */

.reader.modern .featured {
	width: 660px;
}
