.actions {
	margin-top: 40px;
	padding-top: 10px;
	border-top: solid 1px white;
}

.actions.inline {
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: none;
}

.actions.controlset {
	margin: 0 0 0 @dimen/action-margin;
	padding: 0;
	border: none;
}

.actions .space {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: @dimen/action-icon-size;
	height: @dimen/action-icon-size;
	margin-right: @dimen/action-margin;
}

.actions img {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: @dimen/action-icon-size;
	height: @dimen/action-icon-size;
	padding: 1px;
	border: solid 1px @color/border-image;
	margin-right: 0;
	background-color: white;
	opacity: 0.6;
	cursor: pointer;
}

.actions img.rfloat {
	margin-right: 0;
	margin-left: @dimen/action-margin;
}

.actions.inline img {
}

.actions.controlset img {
	vertical-align: top;
	width: @dimen/input-height;
	height: @dimen/input-height;
}

.actions img.last {
	float: right;
}

.actions .separator {
	display: inline-block;
	width: @dimen/action-icon-size;
	height: @dimen/action-icon-size;
}

.actions input {
	vertical-align: bottom;
	margin-top: 0;
}

.upload-image {
	position: relative;
	display: inline-block;
}

.upload-icon {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: auto;
	background: 0;
	border-radius: unset;
	opacity: 0.6;
}

.upload-image input, .upload-icon input  {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
}

.upload-icon img {
	opacity: 1;
}
