.context-menu .object {
	
}

.context-menu .object img {
	float: left;
	@style/image-border
	margin-left: 10px;
	margin-right: 10px;
}

.context-menu .object::after {
	@style/clear-after
}

.context-menu .object h3 {
	padding-bottom: 4px;
	border-bottom: solid 1px @color/border-light;
	margin-top: 20px;
	text-transform: uppercase;	
}

.context-menu .menu {
	margin-top: 20px;
	margin-bottom: 20px;	
}
