.dialog {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 50%;
	max-width: 600px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 8% auto;
	padding: 1px;
	background-color: @color/window-background;
	border: solid 1px @color/border;
}

.dialog.hidden {
	display: none;
}

.dialog .caption {
	height: @dimen/window-caption-height;
	line-height: @dimen/window-caption-height;
	background-color: @color/window-caption;
}

.dialog .caption img {
	float: right;
	height: @dimen/window-caption-height;
	filter: invert(100%);
	cursor: pointer;
}

.dialog .content {
	overflow: auto;	
}
