li, li * {
	font-size: 1.8em;
}

li {
	margin-top: 6px;	
}

li:first-child {
	margin-top: 0;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
}

ol li {
	color: #378629;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline>li, .inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* ------------------------------------------------------------------------------------------------ */
/* ITEM VIEW */

.list .item {
	display: block;
	padding: 4px;
	margin-bottom: @dimen/divider-size;
	background-color: @color/black-t20;
}

.list .item::after {
	display: block;
	content: "";
	clear: both;
}

.list .item .icon {
	float: left;
	width: @dimen/icon-size;
	height: @dimen/icon-size;
	margin: 0 20px 0 0;
	padding: 0;
	border: 0;
	border-radius: 0;
}

.list .item .display {
	margin: 10px 0 0 0;
	padding: 0;
	font-weight: lighter;
	font-size: 1.8rem;
	color: @color/text;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list .item .description {
	width: 400px;
	margin: 10px 0 0 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.2rem;
	color: @color/text-mute;
}
