li, li * {
	font-size: 1.8em;
}

li {
	margin-top: 6px;	
}

li:first-child {
	margin-top: 0;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
}

ol li {
	color: #378629;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline>li, .inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.list-inline>li.hidden, .inline>li.hidden {
	display: none;
}

/* ------------------------------------------------------------------------------------------------ */ 
/* LIST VIEW */ 

.list-view.icons {
	list-style: none;
}

.list-view.icons .item {
	list-style: none;
	display: inline-block;
	width: 96px;
	margin-right: 26px;
	text-align: center;
}

.list-view.icons .item .icon {
	width: @dimen/icon-size;
	height: @dimen/icon-size;
	padding: 1px;
	border: solid 1px #E6E6E6;
	cursor: pointer;
}

.list-view.icons .item .display {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "Roboto";
	font-size: 1.3rem;
	color: black;
}

.list-view.icons .item .name {
	display: none;
}

.list-view.icons .item .last-updated {
	display: none;
}

.list-view.icons .item .definition {
	display: none;
}

.list-view.icons .item .links {
	display: none;
}

/* ------------------------------------------------------------------------------------------------ */ 
/* CARD VIEW */ 

.list-view.cards {
	list-style: none;
}

.list-view.cards .item {
	list-style: none;
	display: inline-block;
	position: relative;
	width: 400px;
	margin: 10px;
	padding: 12px;
	background: radial-gradient(circle at 30% 50%, #ffe3f0, #f779b4);
	border: solid 1px #f779b4;
}

.list-view.cards .item.published {
	background: radial-gradient(circle at 30% 50%, #FFFFFF, #76b0e2);
	border: solid 1px #76b0e2;
}

.list-view.cards .item .icon {
	float: left;
	width: @dimen/icon-size;
	height: @dimen/icon-size;
	padding: 1px;
	border: solid 1px #f779b4;
	margin-right: 12px;
	margin-bottom: 12px;
	cursor: pointer;
}

.list-view.cards .item.published .icon {
	border-color: #5aa3e2
}

.list-view.cards .item .display {
	padding-bottom: 4px;
	border-bottom: solid 1px #f779b4;
	color: #f74498;
	text-transform: uppercase;
}

.list-view.cards .item.published .display {
	border-color: #5aa3e2;
	color: #1985e2;
}

.list-view.cards .item .name {
	margin-bottom: 4px;
	color: #f74498;
}

.list-view.cards .item.published .name {
	color: #1985e2;
}

.list-view.cards .item .last-updated {
	padding-bottom: 4px;
	margin-top: 0;
	color: #b9095c;
}

.list-view.cards .item.published .last-updated {
	border-color: #5aa3e2;
	color: #1364ac;
}

.list-view.cards .item .definition {
	display: block;
	clear: both;
	position: relative;
	height: 66px;
	line-height: 22px;
	margin-top: 40px;
	overflow: hidden;
	font-size: 16px;
	color: #c6005d;
}

.list-view.cards .item.published .definition {
	color: #005eaf;
}

.list-view.cards .item .links {
	display: none;
}

.list-view.cards .circle {
	position: absolute;
	width: 100px;
	height: 100px;
	right: 20px;
	bottom: 20px;
	xborder: solid 1px #41b5bd;
	background-color: #FFFFFF20;
	radius: 50%;
	z-index: 0;
}

/* ------------------------------------------------------------------------------------------------ */ 
/* LINKS VIEW */ 

.list-view.links {
	list-style: none;
}

.list-view.links .item {
	list-style: none;
	display: block;
	padding: 10px;
	border-bottom: solid 1px #E6E6E6;
	xmargin-bottom: 40px;
	background-color: #F8F8F8;
	font-size: 0;
}

.list-view.links .item .icon {
	width: @dimen/icon-size-small;
	height: @dimen/icon-size-small;
	padding: 1px;
	border: solid 1px #E6E6E6;
	cursor: pointer;
}

.list-view.links .item .display {
	display: inline-block;
	width: 200px;
	overflow: hidden;
	padding: 0 0 4px 10px;
	border-bottom: solid 1px #f779b4;
	text-overflow: ellipsis;
	color: black;
	margin-bottom: 20px;
}

.list-view.links .item .name {
	display: none;
}

.list-view.links .item.published .display {
	border-color: #5aa3e2;
	xcolor: #1985e2;
}

.list-view.links .item .last-updated {
	display: none;
}

.list-view.links .item .definition {
	display: none;
}

.list-view.links .item .links {
	display: inline-block;
	margin-left: 80px;
}

.list-view.links .item .links .item {
	display: inline-block;
	padding: 0;
	border: none;
	margin: 0 20px 0 0;
	background: none;
	font-size: 0;
}

.list-view.links .item .links .item .icon {
	border: none;
}

.list-view.links .item .links .item .display {
	display: none;
	margin: 0;
	padding: 0;
	border: none;
}

/* ------------------------------------------------------------------------------------------------ */ 
/* SIDE MENU */ 

.menu {
	padding: 1px;
}

.menu li {
	height: @dimen/side-menu-item-height;
	line-height: @dimen/side-menu-item-height;
	padding-left: 10px;
	padding-right: 40px;
	margin-left: 1px;
	margin-top: 1px;
	border-right: solid 4px;
	white-space: nowrap;
	cursor: pointer;
	color: black;
}

.menu li img {
	display: inline-block;
	width: @dimen/side-menu-icon-size;
	height: @dimen/side-menu-icon-size;
	vertical-align: middle;
	margin-right: 20px;
	border: none;
	background: none;
	opacity: 1;
}

.menu li a {
	text-transform: inherit;
	color: inherit;
}

.menu li .state {
	display: inline-block;
	vertical-align: middle;
	float: right;
	width: @dimen/side-menu-bullet-size;
	height: @dimen/side-menu-bullet-size;
	margin-top: 12px;
	margin-right: 10px;
	border-radius: 10px;
}

.menu li.invalid .state {
	background-color: @color/danger;
}

.menu li:hover {
	color: black;
}

.menu li:nth-child(1) {
	border-right-color: @color/red-300;
	background-color: @color/red-50;
}

.menu li:nth-child(2) {
	border-right-color: @color/pink-300;
	background-color: @color/pink-50;
}

.menu li:nth-child(3) {
	border-right-color: @color/purple-300;
	background-color: @color/purple-50;
}

.menu li:nth-child(4) {
	border-right-color: @color/deep-purple-300;
	background-color: @color/deep-purple-50;
}

.menu li:nth-child(5) {
	border-right-color: @color/indigo-300;
	background-color: @color/indigo-50;
}

.menu li:nth-child(6) {
	border-right-color: @color/blue-300;
	background-color: @color/blue-50;
}

.menu li:nth-child(7) {
	border-right-color: @color/light-blue-300;
	background-color: @color/light-blue-50;
}

.menu li:nth-child(8) {
	border-right-color: @color/cyan-300;
	background-color: @color/cyan-50;
}

.menu li:nth-child(9) {
	border-right-color: @color/teal-300;
	background-color: @color/teal-50;
}

.menu li:nth-child(10) {
	border-right-color: @color/green-300;
	background-color: @color/green-50;
}

.menu li:nth-child(11) {
	border-right-color: @color/light-green-300;
	background-color: @color/light-green-50;
}

.menu li:nth-child(12) {
	border-right-color: @color/lime-300;
	background-color: @color/lime-50;
}
