.container {
	box-sizing: border-box;
	max-width: @dimen/container-width;
	padding: 0 10px;
	margin: 0 auto;
}

.container::after {
	content: "";
	display: block;
	clear: both;	
}

.float-right, .rfloat {
	float: right;
}

.float-left, .lfloat {
	float: left;
}

.clear::after {
	content: "";
	display: block;
	clear: both;	
}

.inline {
	display: inline-block;	
}

.inline.hidden {
	display: none;
}

.flex-h {
	display: flex;
	flex-direction: row;
}

.flex-v {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.spare-v {
	flex-grow: 1;
}
