.container {
	box-sizing: border-box;
	max-width: @dimen/container-width;
	padding: 0;
	margin: 0 auto;
}

.container::after {
	content: "";
	display: block;
	clear: both;	
}

.hidden {
	display: none !important;	
}

.float-right, .rfloat {
	float: right;
}

.float-left, .lfloat {
	float: left;
}

.clear::after {
	content: "";
	display: block;
	clear: both;	
}

.inline {
	display: inline-block;	
}

.flex-h {
	display: flex;
	flex-direction: row;
}

.flex-v {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.flex-fit, .spare-v {
	flex-grow: 1;
}

.accent {
	color: yellow;
}

.upper-case {
	text-transform: uppercase;
}

.rule {
	margin: 0;
	padding: 0;
	border: none;
	background-color: @color/rule;	
}

.rule.h {
	width: 100%;
	height: 1px;
}

.rule.v {
	width: 1px;
	height: 100%;
}

.full-width {
	width: 100%;	
}

.single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.console {
	font-family: "Lucida Console", Monaco, monospace;
}

.scroll-y {
	height: 100%;
	overflow-y: auto;
}
